<!-- <form>
    <div class="container">
      <h3 class="p-2 shadow p-3 mb-4  bg-white rounded"  style="color:#563d7c;width: 1590px;">Kullanıcı Ekle Sayfası</h3>
    <div class="form-group">
      <label for="name">Adı</label>
      <input #kullaniciadi type="text" class="form-control" name="kullaniciadi" />
    </div>
    <div class="form-group">
      <label for="price">Soyadı</label>
      <input #kullanicisoyadi type="text" class="form-control" name="kullanicisoyadi" />
    </div>
    <div class="form-group">
      <label for="price">Şifre</label>
      <input #sifre type="email" class="form-control" name="sifre" />
    </div>
    <div class="form-group">
      <label for="price">E-Mail</label>
      <input #email type="text" class="form-control" name="email" />
    </div>
    <div class="form-group">
      <label for="price">Adres</label>
      <input #adres type="text" class="form-control" name="adres" />
    </div>
    <div class="form-group">
      <label for="rol">Rol</label>
      <input #rol type="text" class="form-control" name="rol" />
    </div>
    <button type="submit" class="btn btn-success btn-lg">Ekle</button>
    </div>
</form> -->


