<!-- <!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <form [formGroup] = "login">
    <div class="form-group">
      <label for="" >Email</label>
      <input formControlName="email" type="email"/>
    </div>
    <div class="form-group">
      <label for="">Şifre</label>
      <input formControlName="sifre" type="sifre" />
    </div>
    <button [routerLink]="['/tasinmaz-liste']" type="submit" class="btn btn-primary" (click)="postLogin()">Giriş Yap</button>
  </form>
</body>
</html> -->

<body>
  <form #loginForm="ngForm" [formGroup] = "login">
    <div class="form-box">
      <div class="header-text">
        Taşınmaz Giriş
      </div>
      <input formControlName="email"  class="border-info placeicon"  placeholder="E-Mail" type="email" required>
      <input formControlName="sifre" class="mt-2" placeholder="Şifre" type="password" required>
      <button [disabled]="loginForm.form.invalid" type="submit" class="btn btn-dark" (click)="postLogin()" style="background-color: #563d7c;">Giriş Yap
      </button>
    </div>
  </form>
</body>

